<div class="card">
    <div class="card-body" [alpCreationDateStyling]="course.creationDate">
        <h4 class="card-title">{{course.title | uppercase}}</h4>
        <h5 class="card-subtitle"><span class="fas fa-clock"></span> {{course.duration | duration}}. <span class="fas fa-date"></span> {{course.creationDate | date}}</h5>
        <p class="card-text">{{course.description}}</p>
        <alp-course-item-management-panel [course]="course"></alp-course-item-management-panel>
    </div>
</div>


