<div class="container" *ngIf="!showAdd">
    <div class="card"><alp-course-search></alp-course-search></div>
    <button class="btn btn-success" (click)="showAdd=!showAdd"><span class="fas fa-plus"></span> Add course</button>
    <alp-course-list-item *ngFor="let course of courses" [course]="course"></alp-course-list-item>
    <span *ngIf="courses.length == 0">No courses. Here is link: </span>
    <a href="#" id="load-more" (click)="loadMore()">Load more</a>
</div>
<alp-course-edit *ngIf="showAdd"></alp-course-edit>
