<div class="row">
    <label for="title-edit">Title</label>
    <input id="title-edit" [(ngModel)]="editResult.title" (ngModelChange)="changed()" class="form-control"/>
</div>
<div class="row">
    <label for="description-edit">Description</label>
    <input id="description-edit" type="text-area" [(ngModel)]="editResult.description" (ngModelChange)="changed()" class="form-control"/>
</div>
<div class="row">
    <label for="creation-date-edit">Date</label>
    <input id="creation-date-edit" type="text-area" [(ngModel)]="editResult.creationDate" (ngModelChange)="changed()" class="form-control"/>
</div>
<alp-course-edit-duration [(duration)] = "editResult.duration" (durationChange)="changed()"></alp-course-edit-duration>
<alp-course-edit-authors (authors) = "editResult.authors = $event; changed()"></alp-course-edit-authors>
